

.home header {
    background-image: url(https://images.squarespace-cdn.com/content/54c174b5e4b02be743985ee0/1457501470833-CDSMSYOI87MJACXB1COT/atlas-lift4life-non-profit-black-roberto-artist-orozco-design-greek-titan-god-gods-mythos-mythology-stone-wood-statue-sun-sacred-geometry-digital-illustration-illustrator-designer-apparel.jpg?format=1000w&content-type=image%2Fjpeg);
    background-size: cover;
    background-position:center;
    background-repeat:none;
    height:30rem;
    font-family:'Times New Roman', Times, serif;
}


a:link {
    text-decoration:none;
    color: white;
}

a:visited {
    text-decoration: none;
    color:none;
  }

  a:hover {
    text-decoration:none;
    color:blue;
  }

  a:active {
    text-decoration: none;
    color:blue;
  }

header nav {
    text-align:right;
    font-family: Verdana;
    font-weight: bold;
    font-size: 20px; 
    letter-spacing:2px;
}

#name {
    Font-size: 150px;
    text-align:center;
    font-weight:bold;
    color:white;
}

main {
    background-image: url(https://www.ancient-origins.net/sites/default/files/field/image/Titanomachy.jpg);
    background-size: cover;
    background-position:center;
    background-repeat:none;
    height: 30rem;
    padding:5px;
    margin: 0px;
}
.meaning {
    font-size: 50px;
    text-align:center;
    font-weight:bold;
    color:white;
}

#location {
    text-align:center;
    font-size:20px;
    font-weight:bold;
    color:white;
    box-sizing:border-box;
    text-transform:uppercase;
}

article {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDjM24zT9m1cRaUgHGBriHXVEx-0NSA4A72s-ornb8QzIl0K6r&s);
    background-size:cover;
    background-repeat:none;
    background-position:center;
    height: 20rem;
    padding:5px;
    margin:0px;
}

#welcome {
    font-size: 20px;
    text-align:center;
    font-weight:bold;
    color:white;
    font-family:'Times New Roman', Times, serif
}

article h2{
    font-size:50px;
    text-align:center;
    font-weight:bold;
    color: gold;
    font-family:'Times New Roman', Times, serif
}

#welcome h3 {
    font-size:30px;
}

/*Locations page*/

.site header {
    background-color: black;
    border-bottom: 5px solid black;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 5rem;
}

.site nav {
    text-align:center;
    padding: 25px;
    border:5px;
    font-size: 25px;

}