body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/331/504/non_2x/lion-in-crown-vector-mascot.jpg);
    background-repeat: none;
    background-size: cover;
    overflow: auto; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color:#8e4c9e;
}

#Lee {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.picture {
    display:inline;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
   
 
}